<main style="margin-top: 50px">
  <!-- Tambahkan margin atas sebesar 50px -->
  <div class="container marketing">
    <main>
      <div>
        <div class="container marketing vh-100">
          <div class="row featurette">
            <div class="col-md-7 d-flex flex-column justify-content-center">
              <div>
                <h3
                  class="featurette-heading fw-normal lh-1 text-danger font-weight-bold"
                >
                  Disclaimer
                </h3>
                <div>
                  <li>
                    <i class="bx bx-calendar"></i>
                    <div>
                      <h5>Usia Mobil</h5>
                      <p>Pastikan Usia Kendaraan 14 Tahun saat lunas.</p>
                    </div>
                  </li>
                </div>
                <div>
                  <p></p>
                </div>
              </div>
              <p>
                <a class="btn btn-primary" routerLink="/angsuran"
                  >Ajukan &raquo;</a
                >
              </p>
            </div>
          </div>
          <div>
            <hr class="featurette-divider" />

            <div class="container py-4">
              <div class="copyright">
                &copy; Copyright
                <strong><span>DAA Project Bootcamp</span></strong
                >. All Rights Reserved
              </div>
              <div class="credits"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</main>
